body, html { /* altura do html em 100% permitirá o body acompanhar */
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif; /* lembre que isso é shorthand */
    color: #777;
    scroll-behavior: smooth; /* suavização da rolagem da página */
}

* {
    margin: 0;
    padding: 0;
}

.border{
    border: unset!important;
}

@media screen and (max-width: 768px) {
    #menu {
        display: none;
    }
}

@media screen and (min-width: 769px) {
    .navigation {
        display: none;
    }

}

.carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 10%;
    bottom: 0;
    z-index: 100000;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 15%;
    color: #fff;
    text-align: center;
    opacity: .5;
    transition: opacity .15s ease;
}


.cabecalho {
    width: 100%;
    height: 105px;
    position: absolute;
    float: left;
    /* background-color: rgba(0, 0, 0, 0.897); */
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0.671), rgba(0, 0, 0, 0.562));
    border-width: 15%;
	border-bottom-style: solid;
    border-color:rgb(33, 42, 79);
    z-index: 1000000;
    top: 0; /* -50px; */
    opacity: 100%; /* 0; */
}

/* .cabecalho:hover, .slider:hover img {
    /* + seleciona um elemento imediatamente após o outro
    aqui a seleção <div> <nav> só é selecionada se estiver imadiatamente após .bgimagem_1, desde que este esteja com o mouse sobre ele *
    transition-property: opacity, top;
    transition-duration: 2s, .6s;
    opacity: 1; /* opacity: de 0 a 1(acima); *
    transform-origin: top;
    translate: 20;
    top: 0px; /* top: de -100px no seletor da <nav> para 0 (acima); *
} */

#img_fixa {
    width: 149px;
    float: left;
    /* background-color: black; */
    border-radius: 50%; /* cantos arredondados - elipse quando aplicado 50% a um quadrado */
    /*box-shadow: #212a4f; */
    border-width: 3px;
    border-bottom-style: solid;
    border-color:rgb(33, 42, 79);
    margin: 1%;
    /* margin-left: -164px; */
    z-index: 10010;
    position: absolute;
    left: 4.1%;
    top: 0%;
}
#logo #img_rotativa {
    width: 150px;
    float: left;
    background-color: black;
    border-radius: 50%; /* cantos arredondados - elipse quando aplicado 50% a um quadrado */
    /*box-shadow: #212a4f; */
    border-width: 15%;
    /* border-bottom-style: solid; */
    /* border-color:#212a4f; */
    margin: 1%;
    margin-left: 5%;
    z-index: 10000;
    transform: rotate(-15deg);
    -webkit-animation: rodaroda 2s linear alternate 3;
    -moz-animation: rodaroda 2.0s linear infinite;
    -ms-animation: rodaroda 2.0s linear infinite;
    -o-animation: rodaroda 2.0s linear infinite;
    animation: rodaroda 2.0s linear infinite;
}

/* KEY FRAMES PARA FAZER OS GIROS */
@-webkit-keyframes rodaroda {
	0% { -webkit-transform:rotate(0deg); -moz-transform:rotate(0deg); -ms-transform:rotate(0deg); -o-transform:rotate(0deg); transform:rotate(0deg); }
	50% { -webkit-transform:rotate(180deg); -moz-transform:rotate(180deg); -ms-transform:rotate(180deg); -o-transform:rotate(180deg); transform:rotate(180deg); }
	100% { -webkit-transform:rotate(360deg); -moz-transform:rotate(360deg); -ms-transform:rotate(360deg); -o-transform:rotate(360deg); transform:rotate(360deg); }
}
@-moz-keyframes rodaroda {
	0% { -webkit-transform:rotate(0deg); -moz-transform:rotate(0deg); -ms-transform:rotate(0deg); -o-transform:rotate(0deg); transform:rotate(0deg); }
	50% { -webkit-transform:rotate(180deg); -moz-transform:rotate(180deg); -ms-transform:rotate(180deg); -o-transform:rotate(180deg); transform:rotate(180deg); }
	100% { -webkit-transform:rotate(360deg); -moz-transform:rotate(360deg); -ms-transform:rotate(360deg); -o-transform:rotate(360deg); transform:rotate(360deg); }
}
@-ms-keyframes rodaroda {
	0% { -webkit-transform:rotate(0deg); -moz-transform:rotate(0deg); -ms-transform:rotate(0deg); -o-transform:rotate(0deg); transform:rotate(0deg); }
	50% { -webkit-transform:rotate(180deg); -moz-transform:rotate(180deg); -ms-transform:rotate(180deg); -o-transform:rotate(180deg); transform:rotate(180deg); }
	100% { -webkit-transform:rotate(360deg); -moz-transform:rotate(360deg); -ms-transform:rotate(360deg); -o-transform:rotate(360deg); transform:rotate(360deg); }
}
@-o-keyframes rodaroda {
	0% { -webkit-transform:rotate(0deg); -moz-transform:rotate(0deg); -ms-transform:rotate(0deg); -o-transform:rotate(0deg); transform:rotate(0deg); }
	50% { -webkit-transform:rotate(180deg); -moz-transform:rotate(180deg); -ms-transform:rotate(180deg); -o-transform:rotate(180deg); transform:rotate(180deg); }
	100% { -webkit-transform:rotate(360deg); -moz-transform:rotate(360deg); -ms-transform:rotate(360deg); -o-transform:rotate(360deg); transform:rotate(360deg); }
}
@keyframes rodaroda {
	0% { -webkit-transform:rotate(0deg); -moz-transform:rotate(0deg); -ms-transform:rotate(0deg); -o-transform:rotate(0deg); transform:rotate(0deg); }
	50% { -webkit-transform:rotate(180deg); -moz-transform:rotate(180deg); -ms-transform:rotate(180deg); -o-transform:rotate(180deg); transform:rotate(180deg); }
	100% { -webkit-transform:rotate(360deg); -moz-transform:rotate(360deg); -ms-transform:rotate(360deg); -o-transform:rotate(360deg); transform:rotate(360deg); }
}

.slider {
    width: 100%;
    position: relative;
    background-color: rgb(0, 0, 0);
    display: inline-block;

    /* PARALLAX */
    /* position: relative; /* Respeita os irmãos *    
    opacity: .8;
    background-repeat: no-repeat; /* Por padrão, a imagem se repete em x e y. Selecionado para não repetir. *
    background-size: cover; /* Dá cobertura no fundo pela maior dimensão sem distorcer a imagem. *
    background-position: center; /* usado uma ver, centraliza na horizontal e vertical (x e y) *
    background-attachment: fixed; A imagem permanece fixa, enquanto o primeiro plano (objeto) recebe o rolamento */
}



@media screen and (min-width: 769px) {
    .TitBox span.border1{
        max-width: 50%;
        float: left;
        z-index: 10020;
        position: absolute;
        left: 0;
        top: 47%;
        text-align: left;
        color: rgb(219, 142, 20);
        /*opacity: 70%;*/
        background-color: rgba(0, 0, 0, 0.75);
        color: rgb(241, 221, 167);
        padding-left: 5%;
        font-size: 150%;
        letter-spacing: 10px;
    }
    .TitBox span.border1:hover {
        transition: .5s;
        color: rgb(217, 142, 17);
        font-size: 155%;    
    }
}

@media screen and (max-width: 768px) {
    .TitBox span.border1{
        max-width: 85%;
        float: left;
        z-index: 10020;
        position: absolute;
        left: 0;
        top: 47%;
        text-align: left;
        color: rgb(219, 142, 20);
        /*opacity: 70%;*/
        background-color: rgba(0, 0, 0, 0.75);
        color: rgb(241, 221, 167);
        padding-left: 5%;
        font-size: 150%;
        letter-spacing: 10px;
    }
    .TitBox span.border1:hover {
        transition: .5s;
        color: rgb(217, 142, 17);   
        font-size: 155%; 
    }
}

@media screen and (min-width: 769px) {
    .TitBox span.border2{
        max-width: 40%;
        float: left;
        z-index: 10020;
        position: absolute;
        left: 0;
        top: 58%;
        text-align: left;
        color: rgb(219, 142, 20);
        /*opacity: 70%;*/
        background-color: rgba(0, 0, 0, 0.75);
        color: rgb(241, 221, 167);
        padding-left: 5%;
        font-size: 122%;
        letter-spacing: 4px;
    }
    .TitBox span.border2:hover {
        transition: .5s;
        color: rgb(217, 142, 17);   
        font-size: 125%; 
    }
}

@media screen and (max-width: 768px) {
    .TitBox span.border2{
        max-width: 85%;
        float: left;
        z-index: 10020;
        position: absolute;
        left: 0;
        top: 58%;
        text-align: left;
        color: rgb(219, 142, 20);
        /*opacity: 70%;*/
        background-color: rgba(0, 0, 0, 0.75);
        color: rgb(241, 221, 167);
        padding-left: 5%;
        font-size: 122%;
        letter-spacing: 4px;
    }
    .TitBox span.border2:hover {
        transition: .5s;
        color: rgb(217, 142, 17);   
        font-size: 125%; 
    }
}

/* nav{ /* navegação da página *
    position: relative;
    z-index: 10000;
    width: 100%;
    height: 30px;
    float: left;
    top: -200%;
    * margin-top: -7.5%; *
    /* z-index: 1000000; *
} */

.cabecalho nav ul{
    list-style: none;
    height: 100%;
    margin: 0px;

}

#menu ul a{
    float: right; /* os itens ficam lado a lado */
    width: 8%; /* calcula conforme necessidade e/ou estilo visual */
    display: block; /* transforma o <a> de linha para bloco */
    height: 100%;
    text-align: center;
    line-height: 210%; /* macete: a altura de entrelinha auxilia na centralização vertical do texto */
    text-decoration: none; /* tirar underline do link */
    transition-property: background-color;
    color: white;
    font-size: 110%;
    font-variant: small-caps;
    border-top: 70%;
    position: relative;
    margin-top: 67px;
}

#menu ul a:hover{
    /* transition-property: background-color;
    transition-duration: 1s;
    transition-delay: .1s; */
    color: rgb(217, 142, 17);
    text-decoration: none;
    font-weight: bold;
    font-size: 115%;
    line-height: 205%;
    transition-property: background-color;
    transition-duration: 1s;
    transition-delay: .1s;
    background-color: rgba(0, 0, 0, 0.604);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.204), rgba(0, 0, 0, 0.09), rgba(0, 0, 0, 0));
    border-bottom-width: 2px;
    border-color: rgb(217, 142, 17);
    border-radius: 5%;

}
@media screen and (min-width: 769px) {
    h1 {
        color: rgb(217, 142, 17);
        letter-spacing: 10px;
        font-size: 122%;
        text-align: center;
        top: 7%;
        position: absolute;
        font-size: x-large;
    }
}

@media screen and (max-width: 768px) {
    h1 {
        color: rgb(217, 142, 17);
        letter-spacing: 10px;
        font-size: 122%;
        text-align: center;
        top: 4%;
        position: absolute;
        font-size: x-large;
    }
}
/* PORTFÓLIO WEB */
@media screen and (min-width: 769px) {
    .portfolio{
        width: 100%;
        height: 600px;
        position: absolute;
        background-color: black;
        background-image: url("../img/background_portfolio01.jpg");
        background-repeat: no-repeat; /* Por padrão, a imagem se repete em x e y. Selecionado para não repetir. */
        background-size: cover; /* Dá cobertura no fundo pela maior dimensão sem distorcer a imagem. */
        background-position: top; /* usado uma ver, centraliza na horizontal e vertical (x e y) */
        background-attachment: fixed;
        border-width: 2px;
        border-top-style: solid;
        border-color:rgb(241, 221, 168);
        display: flex;
        justify-content: center;
        padding-left: 14%;
        padding-right: 14%;
    }
}

@media screen and (max-width: 768px) {
    .portfolio{
        width: 100%;
        height: 1430px;
        position: absolute;
        background-color: black;
        background-image: url("../img/background_portfolio01.jpg");
        background-repeat: no-repeat; /* Por padrão, a imagem se repete em x e y. Selecionado para não repetir. */
        background-size: cover; /* Dá cobertura no fundo pela maior dimensão sem distorcer a imagem. */
        background-position: top; /* usado uma ver, centraliza na horizontal e vertical (x e y) */
        background-attachment: fixed;
        border-width: 2px;
        border-top-style: solid;
        border-color:rgb(241, 221, 168);
        display: flex;
        justify-content: center;
        padding-left: 14%;
        padding-right: 14%;
    }
}

.portfolio a {
    text-decoration: none;
    color: rgb(217, 142, 17); 

}


h1:hover a {
    transition: .5s;
    color: rgb(241, 221, 168);
    font-size: 110%;
}


.portfolio h2 {
    display: block;
    text-align: center;
    letter-spacing: 3px;
    color: rgb(241, 221, 168);
    font-size: 1em;
    margin-top: 70px;
}

.portfolio p {
    display: block;
    text-align: justify;
    letter-spacing: 1.0px;
    color: rgb(241, 221, 168);
    margin-top: 2%;
    margin-left: 6%;
    margin-right: 6%;
    font-size: smaller;
}

@media screen and (min-width: 769px) {
    #box_portfolio1 {
        width: 22%;
        height: 320px;
        background-color: rgba(241, 221, 167, 0.624);
        /* left: 20%; */
        top: 35%;
        float: left;
        border: rgba(241, 221, 167, 0.624);
        border-style: solid;
        border-width: 1px;
        position: relative;
        margin-left: 1%;
        margin-right: 1%;
        border-radius: 3%;
        min-width: 220px;
    }

    #box_portfolio2 {
        width: 22%;
        height: 320px;
        background-color: rgba(241, 221, 167, 0.624);
        /* left: 24%; */
        top: 35%;
        float: left;
        border: rgba(241, 221, 167, 0.624);
        border-style: solid;
        border-width: 1px;
        position: relative;
        margin-left: 1%;
        margin-right: 1%;
        border-radius: 3%;
        min-width: 220px;
    }

    #box_portfolio3 {
        width: 22%;
        height: 320px;
        background-color: rgba(241, 221, 167, 0.624);
        -ms-background-color: #f1dda7;
        /* left: 28%; */
        top: 35%;
        float: left;
        border: rgba(241, 221, 167, 0.624);
        border-style: solid;
        border-width: 1px;
        position: relative;
        margin-left: 1%;
        margin-right: 1%;
        border-radius: 3%;
        min-width: 220px;
    }
}

@media screen and (max-width: 768px) {
    #box_portfolio1 {
        width: 22%;
        height: 320px;
        background-color: rgba(241, 221, 167, 0.624);
        /* left: 20%; */
        top: 200px;
        /* float: left; */
        border: rgba(241, 221, 167, 0.624);
        border-style: solid;
        border-width: 1px;
        position: absolute;
        margin-left: 1%;
        margin-right: 1%;
        border-radius: 3%;
        min-width: 220px;
        }
    #box_portfolio2 {
        width: 22%;
        height: 320px;
        background-color: rgba(241, 221, 167, 0.624);
        /* left: 24%; */
        top: 640px;
        /* float: left; */
        border: rgba(241, 221, 167, 0.624);
        border-style: solid;
        border-width: 1px;
        position: absolute;
        margin-left: 1%;
        margin-right: 1%;
        border-radius: 3%;
        min-width: 220px;
        }
    #box_portfolio3 {
        width: 22%;
        height: 320px;
        background-color: rgba(241, 221, 167, 0.624);
        -ms-background-color: #f1dda7;
        /* left: 28%; */
        top: 1070px;
        float: left;
        border: rgba(241, 221, 167, 0.624);
        border-style: solid;
        border-width: 1px;
        position: absolute;
        margin-left: 1%;
        margin-right: 1%;
        border-radius: 3%;
        min-width: 220px;
    }
}

#img_portfolio1 {
    width: 140px;
    height: 140px;
    background-color: rgba(241, 221, 167, 0.624);
    -ms-background-color: rgb(241, 221, 167);
    background-image: url("../img/img_portfolio1.jpg");
    background-size: cover;
    float: left;
    z-index: 100;
    position: absolute;
    top: -24%;
    left: 17%;
    border-radius: 50%;
    border-style: solid;
    border-color: rgb(241, 221, 167);
    border-width: 5px;
}

#box_portfolio1:hover #img_portfolio1 {
    transform: rotate(0deg);
    -webkit-animation: uma_volta 0.5s;
    -moz-animation: uma_volta 0.5s;
    -ms-animation: uma_volta 0.5s;
    -o-animation: uma_volta 0.5s;
    /* animation: uma_volta 2.0s linear infinite; */
}

@keyframes uma_volta {
	0% { -webkit-transform:rotate(0deg); -moz-transform:rotate(0deg); -ms-transform:rotate(0deg); -o-transform:rotate(0deg); transform:rotate(0deg); }
	50% { -webkit-transform:rotate(360deg); -moz-transform:rotate(360deg); -ms-transform:rotate(360deg); -o-transform:rotate(360deg); transform:rotate(360eg); }
	100% { -webkit-transform:rotate(360deg); -moz-transform:rotate(360deg); -ms-transform:rotate(360deg); -o-transform:rotate(360deg); transform:rotate(360eg); }
}

#img_portfolio2 {
    width: 140px;
    height: 140px;
    background-color: rgba(241, 221, 167, 0.624);
    background-image: url("../img/img_portfolio2.jpg");
    background-size: cover;
    float: left;
    z-index: 100;
    position: absolute;
    top: -24%;
    left: 17%;
    border-radius: 50%;
    border-style: solid;
    border-color: rgb(241, 221, 167);
    border-width: 5px;
}

#box_portfolio2:hover #img_portfolio2 {
    transform: rotate(0deg);
    -webkit-animation: uma_volta 0.5s;
    -moz-animation: uma_volta 0.5s;
    -ms-animation: uma_volta 0.5s;
    -o-animation: uma_volta 0.5s;
    /* animation: uma_volta 2.0s linear infinite; */
}

@keyframes uma_volta {
	0% { -webkit-transform:rotate(0deg); -moz-transform:rotate(0deg); -ms-transform:rotate(0deg); -o-transform:rotate(0deg); transform:rotate(0deg); }
	50% { -webkit-transform:rotate(360deg); -moz-transform:rotate(360deg); -ms-transform:rotate(360deg); -o-transform:rotate(360deg); transform:rotate(360eg); }
	100% { -webkit-transform:rotate(360deg); -moz-transform:rotate(360deg); -ms-transform:rotate(360deg); -o-transform:rotate(360deg); transform:rotate(360eg); }
}

#img_portfolio3 {
    width: 140px;
    height: 140px;
    background-color: #f1dda79f;
    background-image: url("../img/img_portfolio3.jpg");
    background-size: cover;
    float: left;
    z-index: 100;
    position: absolute;
    top: -24%;
    left: 17%;
    border-radius: 50%;
    border-style: solid;
    border-color: rgb(241, 221, 167);
    border-width: 5px;
}

#box_portfolio3:hover #img_portfolio3 {
    transform: rotate(0deg);
    -webkit-animation: uma_volta 0.5s;
    -moz-animation: uma_volta 0.5s;
    -ms-animation: uma_volta 0.5s;
    -o-animation: uma_volta 0.5s;
    /* animation: uma_volta 2.0s linear infinite; */
}

@keyframes uma_volta {
	0% { -webkit-transform:rotate(0deg); -moz-transform:rotate(0deg); -ms-transform:rotate(0deg); -o-transform:rotate(0deg); transform:rotate(0deg); }
	50% { -webkit-transform:rotate(360deg); -moz-transform:rotate(360deg); -ms-transform:rotate(360deg); -o-transform:rotate(360deg); transform:rotate(360eg); }
	100% { -webkit-transform:rotate(360deg); -moz-transform:rotate(360deg); -ms-transform:rotate(360deg); -o-transform:rotate(360deg); transform:rotate(360eg); }
}

#box_portfolio1:hover {
    transform: scale(1.05);
    transition: .5s;
}

#box_portfolio2:hover {
    transform: scale(1.05);
    transition: .5s;
}

#box_portfolio3:hover {
    transform: scale(1.05);
    transition: .5s;
}


.social {
    display: block;
    float: right;
    z-index: 15000;
    position: absolute;
    /* margin-top: 2%; */
    /* background-color: red; */
    width: 100%;
    top: 25%;
    right: 2%;
}

.social #social_youtube {
    display: block;
    float: right;
    /* margin-right: 2%; */
    height: 30px;
}

.social #social_facebook {
    display: block;
    float: right;
    margin-right: 1%;
    height: 30px;
}

.social #social_instagram {
    display: block;
    float: right;
    margin-right: 1%;
    height: 30px;
}

.social #social_youtube{
   /* opacity: 60%;
    filter: alpha(opacity=50);*/
    opacity: 0.6;
}

.social #social_facebook{
    /* opacity: 60%;
    filter: alpha(opacity=50);*/
    opacity: 0.6;
}

.social #social_instagram{
    /* opacity: 60%;
    filter: alpha(opacity=50);*/
    opacity: 0.6;
}

#social_youtube:hover {
    transition-property: opacity;
    transition-duration: 1s;
    transition-delay: .1s;
    opacity: 1.0;
}

#social_facebook:hover {
    transition-property: opacity;
    transition-duration: 1s;
    transition-delay: .1s;
    opacity: 1.0;
}

#social_instagram:hover {
    transition-property: opacity;
    transition-duration: 1s;
    transition-delay: .1s;
    opacity: 1.0;
}
@media screen and (min-width: 769px) {
    .valores {
        width: 100%;
        height: 410px;
        display: block;
        position: relative;
        background-color: rgb(0, 0, 0);
        top: 597px;
        overflow: hidden;
    }
}

@media screen and (max-width: 768px) {
    .valores {
        width: 100%;
        /* height: 1630px; */
        display: block;
        position: relative;
        background-color: rgb(0, 0, 0);
        top: 1430px;
        overflow: hidden;
    }
}

.valores h2 a {
    text-decoration: none;
    color: rgb(241, 221, 168); 
}

h2:hover a {
    transition: .5s;
    color: rgb(217, 142, 17);
}

.border_valores {
    width: 100%;
    float: left;
    z-index: 10035;
    position: absolute;
    text-align: center;
    color: rgb(0, 0, 0);
    opacity: 70%;
    background-color: rgba(0, 0, 0, 0.698);
    color: rgb(241, 221, 168);
    font-size: 122%;
    letter-spacing: 3px;
    font-size: 1em;
    letter-spacing: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
   
}

@media screen and (min-width: 769px) {
    .valores #img_valores1 {
        width: 33.33%;
        height: 410px;
        background-color: rgb(0, 0, 0);
        background-image: url(../img/img_valores1.jpg);
        background-size: cover;
        overflow: hidden;
        background-repeat: no-repeat;
        position: absolute;
        float: left;
        z-index: 10030;
        overflow: hidden;
    }

    .valores #img_valores2 {
        width: 33.33%;
        height: 410px;
        background-color: rgb(0, 0, 0);
        background-image: url(../img/img_valores2.jpg);
        background-size: cover;
        overflow: hidden;
        background-repeat: no-repeat;
        position: absolute;
        float: left;
        z-index: 10030;
        left: 33.33%;
        overflow: hidden;
    }

    .valores #img_valores3 {
        width: 33.33%;
        height: 410px;
        background-color: rgb(0, 0, 0);
        background-image: url(../img/img_valores3.jpg);
        background-size: cover;
        overflow: hidden;
        background-repeat: no-repeat;
        position: absolute;
        float: left;
        z-index: 10030;
        left: 66.66%;
        overflow: hidden;
    }
}

@media screen and (max-width: 768px) {
    .valores #img_valores1 {
        width: 100%;
        height: 410px;
        background-color: rgb(0, 0, 0);
        background-image: url(../img/img_valores1.jpg);
        background-size: cover;
        overflow: hidden;
        background-repeat: no-repeat;
        position: relative;
        float: left;
        z-index: 10030;
        overflow: hidden;
    }
    /* *******************VERSÃO MOBILE******************* */    
    .valores #img_valores2 {
        width: 100%;
        height: 410px;
        background-color: rgb(0, 0, 0);
        background-image: url(../img/img_valores2.jpg);
        background-size: cover;
        overflow: hidden;
        background-repeat: no-repeat;
        position: relative;
        float: left;
        z-index: 10030;
        /* left: 33.33%; */
        overflow: hidden;
    }
    /* *******************VERSÃO MOBILE******************* */    
    .valores #img_valores3 {
        width: 100%;
        height: 410px;
        background-color: rgb(0, 0, 0);
        background-image: url(../img/img_valores3.jpg);
        background-size: cover;
        overflow: hidden;
        background-repeat: no-repeat;
        position: relative;
        float: left;
        z-index: 10030;
        /* left: 66.66%; */
        overflow: hidden;
    }
}    
.TitBox_valores span.border{
    display: block;
    width: 80%;
    position: absolute;
    top: 50%;
    text-align: center;
    background-color: rgba(219, 143, 20, 0);
    color: rgb(241, 221, 168);
    font-size: 90%;
    letter-spacing: 3px;   
    margin-left: 10%;
    margin-right: 10%;
    border: rgba(241, 222, 168, 0.624);
    border-style: solid;
    border-width: 2px;
    text-shadow: #000 1px 1px 1px;
    box-shadow: #000 1px 1px 1px;;
}

.valores span.border:hover {
    transition-property: background-color;
    transition-duration: .5s;
    transition-delay: .1s;
    background-color: rgba(219, 143, 20, 0.478);
    /* border-style: solid;
    border-width: 2px;
    border: #f1dea8b7; */
    color: rgb(241, 221, 168);
    font-size: 92%;
}

#img_valores1:hover {
    transform: scale(1.03);
    transition: 2s;
}
#img_valores2:hover {
    transform: scale(1.03);
    transition-duration: 2s;
}
#img_valores3:hover {
    transform: scale(1.03);
    transition: 2s;
}

@media screen and (min-width: 769px) {
    .contato {
        width: 100%;
        height: 570px;
        display: block;
        position: relative;
        background-color: rgb(221, 221, 221);
        background-image: url(../img/fundo_contato.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: -20px;
        top: 597px;
        overflow: hidden;
        border-top-style: solid;
        border-color: rgb(255, 255, 255);
        border-width: 2px;
    }
}

@media screen and (max-width: 768px) {
    .contato {
        width: 100%;
        height: 1100px;
        display: block;
        position: relative;
        background-color: rgb(221, 221, 221);
        background-image: url(../img/fundo_contato.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: -20px;
        top: 1425px;
        overflow: hidden;
        border-top-style: solid;
        border-color: rgb(255, 255, 255);
        border-width: 2px;
    }
}

#topoflag a{
    content: "\0040"; /* caractere especial em CSS */
    z-index: 100000; /* manter o botÃ£ozinho sempre acima dos outros elementos */
    color: rgb(0, 0, 0);
    font-weight: 900;
    text-align: center;
    position: fixed;
    
    /* cuidado com alocaÃ§Ãµes concorrentes top x bottom e left x right */
    bottom: 10px; /* posiÃ§Ã£o a partir de baixo (nÃ£o use top neste caso) */
    right: 15px; /* posiÃ§Ã£o a partir da direita (nÃ£o use left neste caso) */

    width: 45px;
    height: 45px;
    display: block;
    border-radius: 50%; /* farÃ¡ o box ficar circular */
    background: rgba(217, 144, 17, 0.678);
    text-decoration: none;
    font-size: 1.5em;
 }
/* 
.contato #mapa {
    position: absolute;
    width: 600px;
    height: 450px;
    margin: 1%;
    float: left;
    border: #00000062;
    border-style: solid;
    border-width: 20px;
} */

@media screen and (min-width: 769px) {
    iframe {
        height: 70%;
        width: 40%;
        border: rgba(0, 0, 0, 0.259);
        border-width: 6px;
        border-style: solid;
        padding: 3px;
        position: absolute;
        top: 9%;
        left: 4%;
    }
}

@media screen and (max-width: 768px) {
    iframe {
        height: 390px;
        width: 90%;
        border: rgba(0, 0, 0, 0.259);
        border-width: 6px;
        border-style: solid;
        padding: 3px;
        position: absolute;
        top: 510px;
        left: 5%;
    }
}

@media screen and (min-width: 769px) {
    #barra_separacao {
        height: 418px;
        width: 2px;
        background-color: rgba(0, 0, 0, 0.259);
        position: absolute;
        top: 9%;
        left: 50%;
    }
}

@media screen and (max-width: 768px) {
    #barra_separacao {
        display: none;
    }
}

form {
    margin-right: 2%;
}

@media screen and (min-width: 769px) {
    #dados_contato {
        left: 55%;
        position: absolute;
    }
}
@media screen and (max-width: 768px) {
    #dados_contato {
        left: 5%;
        position: absolute;
        width: 90%;
    }
}


#campo_name {
    width: 100%;
    border-radius: 0%;
    font-size: 1.15em;
    padding: 0.5%;
}

#campo_email {
    width: 100%;
    border-radius: 0%;
    font-size: 1.15em;
    padding: 0.5%;
}

#campo_mensagem {
    width: 100%;
    border-radius: 0%;
    font-size: 1.15em;
    padding: 0.5%;
}

#submit {
    font-size: 1.12em;
    background-color: rgb(217, 142, 17);
    color: white;
    padding: 2px;
    border-radius: 12%;
    padding-left: 2%;
    padding-right: 2%;
}

label, input {
    letter-spacing: 2px;
}

#dados_contato h1 {
    color: rgb(100, 100, 100);
    font-size: x-large;
}

@media screen and (min-width: 769px) {
    #endereco p {
        position: absolute;
        top: 85%;
        left: 8%;
        letter-spacing: 1px;
        max-width: 33%;
        font-size: small;
    }

    #email_nucci p {
        position: absolute;
        top: 88%;
        left: 58%;
        letter-spacing: 2px;
        max-width: 33%;
        font-size: small;
    }

    #tel p {
        position: absolute;
        top: 89%;
        left: 58%;
        letter-spacing: 1px;
        max-width: 33%;
        font-size: small;
    }

    #cel p {
        position: absolute;
        top: 93%;
        left: 58%;
        letter-spacing: 1px;
        max-width: 33%;
        font-size: small;
    }

    .icons_contato #icon_place img {
        position: absolute;
        width: 19px;
        top: 85%;
        left: 6%;
    }

    .icons_contato #icon_email img {
        position: absolute;
        width: 19px;
        top: 88%;
        left: 55%;
    }

    /*.icons_contato #icon_phone img {
        position: absolute;
        width: 19px;
        top: 89%;
        left: 55%;
    }*/

    .icons_contato #icon_whats img {
        position: absolute;
        width: 19px;
        top: 93%;
        left: 55%;
    }
}
@media screen and (max-width: 768px) {
    #endereco p {
        position: absolute;
        top: 925px;
        left: 70px;
        letter-spacing: 1px;
        max-width: 265px;
        font-size: small;
    }

    #email_nucci p {
        position: absolute;
        top: 1025px;
        left: 70px;
        letter-spacing: 2px;
        font-size: small;
    }
    
    #tel p {
        position: absolute;
        top: 1025px;
        left: 70px;
        letter-spacing: 1px;
        font-size: small;
    }
    
    #cel p {
        position: absolute;
        top: 1050px;
        left: 70px;
        letter-spacing: 1px;
        font-size: small;
    }
        
    .icons_contato #icon_place img {
        position: absolute;
        width: 19px;
        top: 925px;
        left: 45px;
    }
    
    .icons_contato #icon_email img {
        position: absolute;
        width: 19px;
        top: 1025px;
        left: 45px;
    }
    
    /*.icons_contato #icon_phone img {
        position: absolute;
        width: 19px;
        top: 1025px;
        left: 45px;
    }*/
    
    .icons_contato #icon_whats img {
        position: absolute;
        width: 19px;
        top: 1050px;
        left: 45px;
    }
}    

@media screen and (min-width: 769px) {
    .copy {
        height: 115px;
        display: flex;
        position: relative;
        background-color: rgb(21, 21, 21);
        top: 597px;
        overflow: hidden;
        border-top-style: solid;
        border-color: rgb(217, 142, 17);
        border-width: 6px;
        /* padding-left: 36%; */
        justify-content: center;
    }
    #social_instagram_footer img {
        position: relative;
        /* right: -32%; */
        height: 85px;
        top: 10%;
        opacity: 0.6;
        display: inline-block;
        float: left;
    }

    #social_facebook_footer img {
        position: relative;
        /* right: -50%; */
        height: 85px;
        top: 10%;
        opacity: 0.6;
        display: inline-block;
        float: left;
    }

    #social_youtube_footer img {
        position: relative;
        /* right: 39%; */
        height: 85px;
        top: 10%;
        opacity: 0.6;
        display: inline-block;
        float: left;
    }
}
@media screen and (max-width: 768px) {
    .copy {
        height: 115px;
        display: flex;
        position: relative;
        background-color: rgb(21, 21, 21);
        top: 1420px;
        overflow: hidden;
        border-top-style: solid;
        border-color: rgb(217, 142, 17);
        border-width: 6px;
        /* padding-left: 36%; */
        justify-content: center;
    }
    /* *******************VERSÃO MOBILE******************* */    
    #social_instagram_footer img {
        position: relative;
        /* right: -32%; */
        height: 65px;
        top: 10%;
        opacity: 0.6;
        display: inline-block;
        float: left;
    }
    /* *******************VERSÃO MOBILE******************* */    
    #social_facebook_footer img {
        position: relative;
        /* right: -50%; */
        height: 65px;
        top: 10%;
        opacity: 0.6;
        display: inline-block;
        float: left;
    }
    /* *******************VERSÃO MOBILE******************* */    
    #social_youtube_footer img {
        position: relative;
        /* right: 39%; */
        height: 65px;
        top: 10%;
        opacity: 0.6;
        display: inline-block;
        float: left;
    }
}


/*#social_instagram_footer img {
    position: absolute;
    right: 55%;
    height: 85px;
    top: 10%;
    opacity: 65%;
    display: inline-block;
}

#social_facebook_footer img {
    position: absolute;
    right: 47%;
    height: 85px;
    top: 10%;
    opacity: 65%;
    display: inline-block;
}

#social_youtube_footer img {
    position: absolute;
    right: 39%;
    height: 85px;
    top: 10%;
    opacity: 65%;
    display: inline-block;
}*/

#social_instagram_footer:hover img {
    transition-property: opacity;
    transition-duration: 1s;
    transition-delay: .1s;
    opacity: 1.0;
}

#social_facebook_footer:hover img {
    transition-property: opacity;
    transition-duration: 1s;
    transition-delay: .1s;
    opacity: 1.0;
}

#social_youtube_footer:hover img {
    transition-property: opacity;
    transition-duration: 1s;
    transition-delay: .1s;
    opacity: 1.0;
}

/*.copy p {
    color: #f1dda887;
    font-size: smaller;
    letter-spacing: 2px;

    position: absolute;
    bottom: 6%;
    font-size: .6em;
}*/

@media screen and (min-width: 769px) {
    .copy p {
        color: rgba(241, 221, 168, 0.529);
        font-size: smaller;
        letter-spacing: 2px;
        position: absolute;
        bottom: 6%;
        font-size: .6em;
        right: 2%;
    }
}
@media screen and (max-width: 768px) {
    .copy p {
        color: rgba(241, 221, 168, 0.529);
        font-size: smaller;
        letter-spacing: 2px;
        position: absolute;
        bottom: -5px;
        font-size: .6em;
    }
}

li {
    margin-left: -20%;
}

/* **************** Menu mobile **************** */
#menuToggle
{
  display: block;
  position: relative;
  top: 74px;
  left: -15px;
  /*left: 490px;*/
  float: right;
  
  z-index: 1000000;
  
  -webkit-user-select: none;
  user-select: none;

}

#menuToggle a
{
  text-decoration: none;
  color: rgb(240, 231, 211);
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: rgb(217, 144, 17);
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: rgb(217, 144, 17);
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #rgb(217, 144, 17);
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu_mobile {
    position: absolute;
    height: 290px;
    margin: -100px 0 0 -90px;
    padding-right: 38px;
    padding-top: 125px;
    background: rgba(0, 0, 0, 0.678);
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    transform-origin: 0% 0%;
    transform: translate(0, -100%);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    padding-left: 45px;
    overflow: hidden;
  }

#menuToggle li {
  padding: 5px 0;
  text-align: right;
  font: 400 15px/1.8 "Lato", sans-serif;
  font-variant: small-caps;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}