body, html { /* altura do html em 100% permitirá o body acompanhar */
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif; /* lembre que isso é shorthand */
    color: #777;
    scroll-behavior: smooth; /* suavização da rolagem da página */
}

* {
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 768px) {
    #menu {
        display: none;
    }
}

@media screen and (min-width: 769px) {
    .navigation {
        display: none;
    }
}
.cabecalho {
    width: 100%;
    height: 102px;
    position: absolute;
    float: left;
    /* background-color: rgba(0, 0, 0, 0.897); */
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0.671), rgba(0, 0, 0, 0.562));
    border-width: 15%;
	border-bottom-style: solid;
    border-color:#212a4f;
    z-index: 10;
    top: 0; /* -50px; */
    opacity: 1.0; /* 0; */
}

#img_fixa {
    width: 149px;
    float: left;
    border-radius: 50%; /* cantos arredondados - elipse quando aplicado 50% a um quadrado */
    /*box-shadow: #212a4f; */
    border-width: 3px;
    border-bottom-style: solid;
    border-color:#212a4f;
    margin: 1%;
    z-index: 10010;
    position: absolute;
    left: 4.1%;
    top: 0%;
}
#logo #img_rotativa {
    width: 150px;
    float: left;
    background-color: black;
    border-radius: 50%; /* cantos arredondados - elipse quando aplicado 50% a um quadrado */
    border-width: 15%;
    margin: 1%;
    margin-left: 5%;
    z-index: 10000;
    transform: rotate(-15deg);
    -webkit-animation: rodaroda 2s linear alternate 3;
    -moz-animation: rodaroda 2.0s linear infinite;
    -ms-animation: rodaroda 2.0s linear infinite;
    -o-animation: rodaroda 2.0s linear infinite;
    animation: rodaroda 2.0s linear infinite;
}

/* KEY FRAMES PARA FAZER OS GIROS */
@-webkit-keyframes rodaroda {
	0% { -webkit-transform:rotate(0deg); -moz-transform:rotate(0deg); -ms-transform:rotate(0deg); -o-transform:rotate(0deg); transform:rotate(0deg); }
	50% { -webkit-transform:rotate(180deg); -moz-transform:rotate(180deg); -ms-transform:rotate(180deg); -o-transform:rotate(180deg); transform:rotate(180deg); }
	100% { -webkit-transform:rotate(360deg); -moz-transform:rotate(360deg); -ms-transform:rotate(360deg); -o-transform:rotate(360deg); transform:rotate(360deg); }
}
@-moz-keyframes rodaroda {
	0% { -webkit-transform:rotate(0deg); -moz-transform:rotate(0deg); -ms-transform:rotate(0deg); -o-transform:rotate(0deg); transform:rotate(0deg); }
	50% { -webkit-transform:rotate(180deg); -moz-transform:rotate(180deg); -ms-transform:rotate(180deg); -o-transform:rotate(180deg); transform:rotate(180deg); }
	100% { -webkit-transform:rotate(360deg); -moz-transform:rotate(360deg); -ms-transform:rotate(360deg); -o-transform:rotate(360deg); transform:rotate(360deg); }
}
@-ms-keyframes rodaroda {
	0% { -webkit-transform:rotate(0deg); -moz-transform:rotate(0deg); -ms-transform:rotate(0deg); -o-transform:rotate(0deg); transform:rotate(0deg); }
	50% { -webkit-transform:rotate(180deg); -moz-transform:rotate(180deg); -ms-transform:rotate(180deg); -o-transform:rotate(180deg); transform:rotate(180deg); }
	100% { -webkit-transform:rotate(360deg); -moz-transform:rotate(360deg); -ms-transform:rotate(360deg); -o-transform:rotate(360deg); transform:rotate(360deg); }
}
@-o-keyframes rodaroda {
	0% { -webkit-transform:rotate(0deg); -moz-transform:rotate(0deg); -ms-transform:rotate(0deg); -o-transform:rotate(0deg); transform:rotate(0deg); }
	50% { -webkit-transform:rotate(180deg); -moz-transform:rotate(180deg); -ms-transform:rotate(180deg); -o-transform:rotate(180deg); transform:rotate(180deg); }
	100% { -webkit-transform:rotate(360deg); -moz-transform:rotate(360deg); -ms-transform:rotate(360deg); -o-transform:rotate(360deg); transform:rotate(360deg); }
}
@keyframes rodaroda {
	0% { -webkit-transform:rotate(0deg); -moz-transform:rotate(0deg); -ms-transform:rotate(0deg); -o-transform:rotate(0deg); transform:rotate(0deg); }
	50% { -webkit-transform:rotate(180deg); -moz-transform:rotate(180deg); -ms-transform:rotate(180deg); -o-transform:rotate(180deg); transform:rotate(180deg); }
	100% { -webkit-transform:rotate(360deg); -moz-transform:rotate(360deg); -ms-transform:rotate(360deg); -o-transform:rotate(360deg); transform:rotate(360deg); }
}

.slider {
    width: 100%;
    height: 350px;
    position: relative;
    background-color: #000000;
    display: inline-block;
}

@media screen and (min-width: 769px) {
    .slider #img_slider01 img{
        width: 100%;
        position: fixed;
        background-color: #000000;
        background-size: cover;
        overflow: hidden;
        background-attachment: fixed;
        background-repeat: no-repeat;
        /* top: -65%; */
        min-height: 100%;
    }
}
@media screen and (max-width: 768px) {
    .slider #img_slider01 img{
        height: 100%;
        position: fixed;
        background-color: #000000;
        background-size: cover;
        overflow: hidden;
        background-attachment: fixed;
        background-repeat: no-repeat;
        /* top: -65%; */
        min-width: 100%;
    }
}
.TitBox span.border{

    float: left;
    z-index: 10020;
    position: absolute;
    left: 0;
    top: 60%;
    text-align: left;
    color: rgb(219, 142, 20);
    opacity: 0.7;
    background-color: rgb(219, 142, 20);
    color: rgb(0, 0, 0);
    padding-left: 5%;
    font-size: 150%;
    letter-spacing: 10px;
}

.cabecalho nav ul{
    list-style: none;
    height: 100%;
    margin: 0px;
}

#menu ul a {
    float: right;
    width: 10%;
    display: block;
    height: 100%;
    text-align: center;
    line-height: 210%;
    text-decoration: none;
    transition-property: background-color;
    color: rgb(255, 255, 255);
    font-size: 110%;
    font-variant: small-caps;
    border-top: 70%;
    position: relative;
    margin-top: 67px;
}

#menu ul a:hover{
    color: rgb(217, 142, 17);
    font-weight: bold;
    font-size: 115%;
    line-height: 205%;
    transition-property: background-color;
    transition-duration: 1s;
    transition-delay: .1s;
    background-color: rgba(0, 0, 0, 0.604);
    background-image: linear-gradient(to bottom, #00000034, #00000017, #00000000);
    border-bottom-width: 2px;
    border-color: rgb(217, 142, 17);
    border-radius: 5%;
}
@media screen and (min-width: 769px) {
    .portfolio{
        width: 100%;
        height: 790px;
        position: absolute;
        background-color: black;
        background-image: url("../img/background_portfolio01.jpg");
        background-repeat: no-repeat; /* Por padrão, a imagem se repete em x e y. Selecionado para não repetir. */
        background-size: cover; /* Dá cobertura no fundo pela maior dimensão sem distorcer a imagem. */
        background-position: top; /* usado uma ver, centraliza na horizontal e vertical (x e y) */
        background-attachment: fixed;
        border-width: 2px;
        border-top-style: solid;
        border-color:rgb(241, 221, 168);
        display: flex;
        justify-content: center;
        min-height: 85%;
    }
}
@media screen and (max-width: 768px) {
    .portfolio{
        width: 100%;
        height: 1430px;
        position: absolute;
        background-color: rgb(0, 0, 0);
        background-image: url("../img/background_portfolio01.jpg");
        background-repeat: no-repeat; /* Por padrão, a imagem se repete em x e y. Selecionado para não repetir. */
        background-size: cover; /* Dá cobertura no fundo pela maior dimensão sem distorcer a imagem. */
        background-position: top; /* usado uma ver, centraliza na horizontal e vertical (x e y) */
        background-attachment: fixed;
        border-width: 2px;
        border-top-style: solid;
        border-color:rgb(241, 221, 168);
        display: flex;
        justify-content: center;
        /*padding-left: 14%;
        padding-right: 14%;*/
    }
}
h1 {
    color: rgb(217, 142, 17);
    letter-spacing: 10px;
    font-size: 122%;
    text-align: center;
    top: 7%;
    position: absolute;
    font-size: x-large;
}

.portfolio a {
    text-decoration: none;
    color: rgb(217, 142, 17); 

}

h1:hover a {
    transition: .5s;
    color: rgb(241, 221, 168);
    font-size: 110%;
}

.portfolio h2 {
    display: block;
    text-align: center;
    letter-spacing: 3px;
    color: rgb(241, 221, 168);
    font-size: 1em;
    margin-top: 70px;
}
@media screen and (min-width: 769px) {
    #box_portfolio1 {
    
        width: 400px;
        height: 500px;
        background-color: rgba(241, 221, 167, 0.624);
        top: 25%;
        float: left;
        border: rgba(241, 221, 167, 0.624);
        border-style: solid;
        border-width: 1px;
        position: relative;
        border-radius: 3%;
    }
}
@media screen and (max-width: 768px) {
    #box_portfolio1 { 
        width: 400px;         
        height: 500px;         
        background-color: rgba(241, 221, 167, 0.624);         
        top: 10%;         
        float: left;         
        border: rgba(241, 221, 167, 0.624);         
        border-style: solid;         
        border-width: 1px;         
        position: absolute;         
        border-radius: 3%;
    }
}
@media screen and (max-width: 430px) {
    #box_portfolio1 { 
        width: 90%;         
        height: 500px;         
        background-color: rgba(241, 221, 167, 0.624);         
        top: 10%;         
        float: left;         
        border: rgba(241, 221, 167, 0.624);         
        border-style: solid;         
        border-width: 1px;         
        position: absolute;         
        border-radius: 3%;
    }
}
@media screen and (min-width: 769px) {
    #box_portfolio2 {
    
        width: 400px;
        height: 500px;
        background-color: rgba(241, 221, 167, 0.624);
        top: 25%;
        float: left;
        border: rgba(241, 221, 167, 0.624);
        border-style: solid;
        border-width: 1px;
        position: relative;
        margin-left: 2%;
        margin-right: 2%;
        border-radius: 3%;
    }
}
@media screen and (max-width: 768px) {
    #box_portfolio2 {  
        width: 400px;          
        height: 500px;          
        background-color: rgba(241, 221, 167, 0.624);          
        top: 55%;          
        float: left;          
        border: rgba(241, 221, 167, 0.624);          
        border-style: solid;          
        border-width: 1px;          
        position: absolute;          
        /* margin-left: 2%; */          
        /* margin-right: 2%; */          
        border-radius: 3%;
    }
}
@media screen and (max-width: 430px) {
    #box_portfolio2 {  
        width: 90%;          
        height: 500px;          
        background-color: rgba(241, 221, 167, 0.624);          
        top: 55%;          
        float: left;          
        border: rgba(241, 221, 167, 0.624);          
        border-style: solid;          
        border-width: 1px;          
        position: absolute;          
        /* margin-left: 2%; */          
        /* margin-right: 2%; */          
        border-radius: 3%;
    }
}
@media screen and (min-width: 431px) {
    #img_portfolio1 {
        width: 140px;
        height: 140px;
        background-color: rgba(241, 221, 167, 0.624);
        -ms-background-color: rgb(241, 221, 167);
        background-image: url("../img/img_portfolio1.jpg");
        background-size: cover;
        float: left;
        z-index: 100;
        position: absolute;
        top: -17%;
        left: 30%;
        border-radius: 50%;
        border-style: solid;
        border-color: rgb(241, 221, 167);
        border-width: 5px;
    }
}

@media screen and (max-width: 430px) {    
    #img_portfolio1 {
        width: 140px;
        height: 140px;
        background-color: rgba(241, 221, 167, 0.624);
        -ms-background-color: rgb(241, 221, 167);
        background-image: url("../img/img_portfolio1.jpg");
        background-size: cover;
        float: left;
        z-index: 100;
        position: absolute;
        top: -17%;
        left: 30%;
        border-radius: 50%;
        border-style: solid;
        border-color: rgb(241, 221, 167);
        border-width: 5px;
        justify-content: center;
        display: flex;
    }
}
#box_portfolio1:hover #img_portfolio1 {
    transform: rotate(0deg);
    -webkit-animation: uma_volta 0.5s;
    -moz-animation: uma_volta 0.5s;
    -ms-animation: uma_volta 0.5s;
    -o-animation: uma_volta 0.5s;
}

@keyframes uma_volta {
	0% { -webkit-transform:rotate(0deg); -moz-transform:rotate(0deg); -ms-transform:rotate(0deg); -o-transform:rotate(0deg); transform:rotate(0deg); }
	50% { -webkit-transform:rotate(360deg); -moz-transform:rotate(360deg); -ms-transform:rotate(360deg); -o-transform:rotate(360deg); transform:rotate(360eg); }
	100% { -webkit-transform:rotate(360deg); -moz-transform:rotate(360deg); -ms-transform:rotate(360deg); -o-transform:rotate(360deg); transform:rotate(360eg); }
}
@media screen and (min-width: 431px) {
    #img_portfolio2 {
        width: 140px;
        height: 140px;
        background-color: rgba(241, 221, 167, 0.624);
        background-image: url("../img/img_portfolio2.jpg");
        background-size: cover;
        float: left;
        z-index: 100;
        position: absolute;
        top: -17%;
        left: 30%;
        border-radius: 50%;
        border-style: solid;
        border-color: rgba(241, 221, 167, 0.878);
        border-width: 5px;
    }
}
@media screen and (max-width: 430px) {    
    #img_portfolio2 {
        width: 140px;
        height: 140px;
        background-color: rgba(241, 221, 167, 0.624);
        background-image: url("../img/img_portfolio2.jpg");
        background-size: cover;
        float: left;
        z-index: 100;
        position: absolute;
        top: -17%;
        left: 30%;
        border-radius: 50%;
        border-style: solid;
        border-color: rgba(241, 221, 167, 0.878);
        border-width: 5px;
        justify-content: center;
        display: flex;
    }
}
#box_portfolio2:hover #img_portfolio2 {
    transform: rotate(0deg);
    -webkit-animation: uma_volta 0.5s;
    -moz-animation: uma_volta 0.5s;
    -ms-animation: uma_volta 0.5s;
    -o-animation: uma_volta 0.5s;
}

@keyframes uma_volta {
	0% { -webkit-transform:rotate(0deg); -moz-transform:rotate(0deg); -ms-transform:rotate(0deg); -o-transform:rotate(0deg); transform:rotate(0deg); }
	50% { -webkit-transform:rotate(360deg); -moz-transform:rotate(360deg); -ms-transform:rotate(360deg); -o-transform:rotate(360deg); transform:rotate(360eg); }
	100% { -webkit-transform:rotate(360deg); -moz-transform:rotate(360deg); -ms-transform:rotate(360deg); -o-transform:rotate(360deg); transform:rotate(360eg); }
}

#box_portfolio1:hover {
    transform: scale(1.05);
    transition: .5s;
}

#box_portfolio2:hover {
    transform: scale(1.05);
    transition: .5s;
}

#topoflag a{
    content: "\0040"; /* caractere especial em CSS */
    z-index: 100000; /* manter o botÃ£ozinho sempre acima dos outros elementos */
    color: rgb(0, 0, 0);
    font-weight: 900;
    text-align: center;
    position: fixed;
    
    /* cuidado com alocaÃ§Ãµes concorrentes top x bottom e left x right */
    bottom: 10px; /* posiÃ§Ã£o a partir de baixo (nÃ£o use top neste caso) */
    right: 15px; /* posiÃ§Ã£o a partir da direita (nÃ£o use left neste caso) */

    width: 45px;
    height: 45px;
    display: block;
    border-radius: 50%; /* farÃ¡ o box ficar circular */
    background: rgba(217, 144, 17, 0.678);
    text-decoration: none;
    font-size: 1.5em;
 }

.social {
    display: block;
    float: right;
    z-index: 15000;
    position: absolute;
    width: 100%;
    top: 25%;
    right: 2%;
}

.social #social_youtube {
    display: block;
    float: right;
    height: 30px;
}

.social #social_facebook {
    display: block;
    float: right;
    margin-right: 1%;
    height: 30px;
}

.social #social_instagram {
    display: block;
    float: right;
    margin-right: 1%;
    height: 30px;
}

.social #social_youtube{
    opacity: 0.6;
}

.social #social_facebook{
    opacity: 0.6;
}

.social #social_instagram{
    opacity: 0.6;
}

#social_youtube:hover {
    transition-property: opacity;
    transition-duration: 1s;
    transition-delay: .1s;
    opacity: 1.0;
}

#social_facebook:hover {
    transition-property: opacity;
    transition-duration: 1s;
    transition-delay: .1s;
    opacity: 1.0;
}

#social_instagram:hover {
    transition-property: opacity;
    transition-duration: 1s;
    transition-delay: .1s;
    opacity: 1.0;
}

iframe {
    height: 70%;
    width: 90%;
    border: rgba(0, 0, 0, 0.259);
    border-width: 6px;
    border-style: solid;
    padding: 3px;
    position: relative;
    top: 0%;
    left: 3%;
    margin-top: 4%;
}

@media screen and (min-width: 769px) {
    .copy {
        height: 115px;
        display: flex;
        position: relative;
        background-color: rgb(21, 21, 21);
        top: 740px;
        overflow: hidden;
        border-top-style: solid;
        border-color: rgb(217, 142, 17);
        border-width: 6px;
        /* padding-left: 36%; */
        justify-content: center;
    }
    #social_instagram_footer img {
        position: relative;
        /* right: -32%; */
        height: 85px;
        top: 10%;
        opacity: 0.6;
        display: inline-block;
        float: left;
    }

    #social_facebook_footer img {
        position: relative;
        /* right: -50%; */
        height: 85px;
        top: 10%;
        opacity: 0.6;
        display: inline-block;
        float: left;
    }

    #social_youtube_footer img {
        position: relative;
        /* right: 39%; */
        height: 85px;
        top: 10%;
        opacity: 0.6;
        display: inline-block;
        float: left;
    }
}

@media screen and (max-width: 768px) {
    .copy {
        height: 115px;
        display: flex;
        position: relative;
        background-color: rgb(21, 21, 21);
        top: 1420px;
        overflow: hidden;
        border-top-style: solid;
        border-color: rgb(217, 142, 17);
        border-width: 6px;
        /* padding-left: 36%; */
        justify-content: center;
    }
    /* *******************VERSÃO MOBILE******************* */    
    #social_instagram_footer img {
        position: relative;
        /* right: -32%; */
        height: 65px;
        top: 10%;
        opacity: 0.6;
        display: inline-block;
        float: left;
    }
    /* *******************VERSÃO MOBILE******************* */    
    #social_facebook_footer img {
        position: relative;
        /* right: -50%; */
        height: 65px;
        top: 10%;
        opacity: 0.6;
        display: inline-block;
        float: left;
    }
    /* *******************VERSÃO MOBILE******************* */    
    #social_youtube_footer img {
        position: relative;
        /* right: 39%; */
        height: 65px;
        top: 10%;
        opacity: 0.6;
        display: inline-block;
        float: left;
    }
}



#social_instagram_footer:hover img {
    transition-property: opacity;
    transition-duration: 1s;
    transition-delay: .1s;
    opacity: 1.0;
}

#social_facebook_footer:hover img {
    transition-property: opacity;
    transition-duration: 1s;
    transition-delay: .1s;
    opacity: 1.0;
}

#social_youtube_footer:hover img {
    transition-property: opacity;
    transition-duration: 1s;
    transition-delay: .1s;
    opacity: 1.0;
}
@media screen and (min-width: 769px) {
    .copy p {
        color: rgba(241, 221, 168, 0.529);
        font-size: smaller;
        letter-spacing: 2px;
        right: 1%;
        position: absolute;
        bottom: 6%;
        font-size: .6em;
    }
}
@media screen and (max-width: 768px) {
    .copy p {
        color: rgba(241, 221, 168, 0.529);
        font-size: smaller;
        letter-spacing: 2px;
        position: absolute;
        bottom: 5px;
        font-size: .6em;
    }
}

/* **************** Menu mobile **************** */
#menuToggle
{
  display: block;
  position: relative;
  top: 74px;
  left: -15px;
  /*left: 490px;*/
  float: right;
  
  z-index: 1000000;
  
  -webkit-user-select: none;
  user-select: none;

}

#menuToggle a
{
  text-decoration: none;
  color: rgb(240, 231, 211);
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: rgb(217, 144, 17);
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: rgb(217, 144, 17);
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #rgb(217, 144, 17);
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu_mobile {
    position: absolute;
    height: 175px;
    margin: -100px 0 0 -90px;
    padding-right: 38px;
    padding-top: 125px;
    background: rgba(0, 0, 0, 0.678);
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    transform-origin: 0% 0%;
    transform: translate(0, -100%);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    padding-left: 45px;
    overflow: hidden;
  }

#menuToggle li {
  padding: 5px 0;
  text-align: right;
  font: 400 15px/1.8 "Lato", sans-serif;
  font-variant: small-caps;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}